@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{

    --color-NavBackground: rgb(41,54,69, 0.6);
    --color-NavButton: #7700b3;
    --color-HrColor: #03e9f4;
    --color-Background: rgba(39,40,44,255); /* #27282c */

    --color-BlueNeon: #03e9f4;
    --color-GreenNeon: #03f40f;
    --color-RedNeon: #f43303;
    --color-WhiteNeon: #eff3f0;
}



*{
    margin: 0;
}

body{
    background-color: var(--color-Background);
}